.register{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem 10rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-radius: 15px;
    height: 50vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* border: 1px solid black; */
}